body {color:#434455;
background-color:#FFFFFF;
size:16;
font-weight:regular;
font-family:'Roboto', sans-serif;}

.header {color:#4d5ae5;
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
color: #404bbf;}
.header::after {width: 100%;
    position: absolute;
left: 0;
bottom: -1px;}

.contacts {font-style:normal;
}

.navigation {font-family:'Raleway', sans-serif;
font-weight:700;
font-size:18px;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
color:#4d5ae5;
display: flex;
align-items: center;
}
.logo-style {color:#2e2f42;}


.section-one {background-color:#2e2f42;
padding: 188px 0;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
max-width: 1440px;}


h1 {font-size:56px; 
    line-height:1.07;
    text-align:center;
    letter-spacing:0.02em;
    color:#ffffff;
    min-width: 169px;
    height: 56px;
    border: none;
    max-width: 496px;
}



.button {background-color:#4D5AE5;
font-family:'Roboto',sans-serif;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em; 
color: #ffffff;
cursor: pointer;
display: block;
max-width: 496px;
min-width: 169px;
height: 56px;
border:none;
border-radius: 4px;
cursor: pointer;
}

.button:hover{background-color: #404BBF;}

.button:focus{background-color: #404BBF;}

.team {font-size:36px;
line-height:1.11;
text-align:center;
letter-spacing:0.02em;
text-transform: capitalize;
color:#2e2f42;
margin-bottom: 72px;}



.sectionthree {background-color: #F4F4FD;
padding: 120px 0;}


.portfolio {font-size: 36px ;
    line-height: 1.11; text-align: center;
     letter-spacing: 0.02em ;
     text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;}


.logo {color:#2e2f42;}

.navigation .span {color:#2e2f42;}


.nav-item {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
position: relative;
}
.nav-item:hover {color:#404bbf;
}
.nav-item:focus {color:#404bbf;}



.contacts-info .contacts-link {line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;}
.contacts-info .contacts-link:hover, 
.contacts-info .contacts-link:focus {color:#404bbf;}

.contacts-info {display: flex;
    gap: 40px;}

.strategy-one {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42 ;
margin-bottom: 8px;}



h2 {font-weight:500;
font-size:20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
}

p {line-height: 1.5;
font-size: 16px;
letter-spacing: 0.02em;

}


.h3 {font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}


.our-portfolio {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.footer {background-color:#2e2f42 ;
padding: 100px 0;}


.logo {font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
margin-right: 76px;
display: inline-block;
margin-bottom: 16px;}


span {color: #f4f4fd;}


.increase {color:#F4F4FD;
max-width: 264px;}


.goal {font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}


.our{font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
background-color: #FFFFFF;
margin-bottom: 8px;}

.ulteam {background-color: #FFFFFF;
display:flex;
gap:24px;
}

.liteam {background-color: #FFFFFF;
width: calc( (100% - 3 * 24px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.feautures {font-size: 16px;
color: #434455;}


.portfolio4 {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.colorstudio {color:#f4f4fd;
display: inline-block;}


.container-class {width: 1158px;
    
     margin: 0;
    padding: 0 15px;}

.nav-menu {display: flex;
        gap: 40px;
    }


.two {padding: 120px 0;}


.menutwo {display:flex;
gap:24px;}

.itemtwo {width: calc( (100% - 3 * 24px) / 4);}

.nameteam {padding: 32px 0;
text-align: center;
margin-bottom: 8px;
}


.section-four {padding: 120px 0 120px 0;
}


.menufour {display:flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}


ul{list-style: none;
padding-left: 0%;
margin: 0;}

.lifour {width:calc( (100% - 48px) / 3);
    position: relative;
         overflow: hidden;
        box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
}


.nameteam2 {padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}


.visually-hidden {position:absolute;
width:1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;}
.container 
{margin: 0 auto;
width: 1158px;
padding: 0 15px;}

.div-class {display: flex;}
img {display:block;}
.overlay {position: relative;
    bottom: 0;
    left:0;
transition: transform 250ms ease-in-out;
overflow: hidden;}
.lifour:hover .text{transform: translateY(0%);
      }
    .text {position: absolute;
    top:0;
    width: 100%;
        height: 100%;
        transform: translateY(100%);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
background-color: #4D5AE5;
overflow: hidden;}